<footer>
    <div class="f-info bg-light">
        <div class="f-info-social d-flex flex-column flex-md-row align-items-center justify-content-center">
            <div class="f-language  mb-md-0">
                <p><i class="fa-solid fa-globe" style="color: #0A74DA;"></i> English (IN) ₹INR</p>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="fa-brands fa-facebook" style="color: #316FF6;"></i>
                <span class="gradient-icon">
                    <i class="fa-brands fa-square-instagram"></i>
                </span>
                <a href="https://www.linkedin.com/in/sanjana-deshmukh-685896214/">
                    <i class="fa-brands fa-linkedin" style="color: #0077B5;"></i>
                </a>
            </div>
        </div>
        <div class="f-info-brand text-center  fa-company ">&copy; TripTribe Private Limited</div>
        <div class="f-info-links text-center">
            <a href="/privacy" class="text-dark text-decoration-none ">Privacy</a>&nbsp;|&nbsp;
            <a href="/terms" class="text-dark text-decoration-none">Terms</a>
        </div>
    </div>
</footer>