<% layout("/layouts/boilerplate.ejs") %>

    <body>

        <div class="row new-b-radius">
            <div class="col-8 offset-2 add-border my-4">
                <div class="text-center ">
                    <br>
                    <h3>Create a New Listing</h3>
                </div>
                <form method="POST" action="/listings"  class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <lable for="title" class="form-lable ">Title</lable>
                        <input name="listing[title]" placeholder="title" type="text"
                            class="form-control add-border" required>
                            <div class="invalid-feedback">Enter valid Title</div>
                    </div>
                    <div class="mb-3">
                        <lable for="description" class="form-lable">Description</lable>
                        <textarea name="listing[description]" class="form-control add-borde"required></textarea>
                        <div class="invalid-feedback">Enter valid Description</div>
                    </div>
                    <div class="mb-3">
                        <lable for="image" class="form-lable">Upload Listing Image</lable>
                        <input name="listing[image]"  type="file"
                            class="form-control add-border" required>
                    </div>
                    <div class="row ">
                        <div class="mb-3 col-md-4">
                            <lable for="price" class="form-lable">Price</lable>
                            <input name="listing[price]" placeholder="1200" type="number" class="form-control add-border" required>
                       <div class="invalid-feedback">Enter valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <lable for="country" class="form-lable">Country</lable>
                            <input name="listing[country]" placeholder="India" type="text" class="form-control add-border" required>
                       <div class="invalid-feedback">Enter valid country</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <lable for="location" class="form-lable">Location</lable>
                        <input name="listing[location]" placeholder="Jaipur,Rajsthan" type="text" class="form-control add-border" required>
                    <div class="invalid-feedback">Enter valid location</div></div>
                    
                    <div class="text-center">
                        <button class="btn btn-dark col-2">ADD</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
