<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div>
            <div class="privacy-heading">
                <h6>TripTribe Terms</h6>
                <b>
                    <h3>Terms and Conditions</h3>
                </b>
            </div>
            <div class="privacy-img">
                <img src="/images/terms.jpg" alt="Privacy Image">
                <h4>Terms</h4>
                <p>Our Privacy Policy explains what personal information we collect, how we use personal information,
                    how personal information is shared, and privacy rights.</p>
                <ul>
                    <p># Provide, Improve, and Develop the TripTribe Platform. We may process this information to:

                        <li>enable you to access the Airbnb Platform and make and receive payments,</li>
                        <li>enable you to communicate with others,</li>
                        <li> process your request,</li>
                        <li>perform analytics, debug, and conduct research,</li>
                        <li> develop and improve our products and services,</li>
                        <li> provide customer service training,</li>
                        <li> send you messages, updates, security alerts, and account notifications,</li>
                        <li> process, handle, or assess insurance claims or similar claims,</li>
                        <li> determine your country of residence based on automated review of your account information
                            and your interactions with the Airbnb Platform,
                            personalize and customize your experience based on your interactions with the Airbnb
                            Platform, your search and booking history, your profile information and preferences, and
                            other content you submit, and
                            enable your use of our products and accommodation services.</li>
                    </p>
                </ul>
            </div>
    </body>