<% layout("/layouts/boilerplate.ejs") %>

    <div class="row new-b-radius row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-2">
        <div class="offset-3 add-border my-4">
            <div class="text-center ">
                <br>
                <h3>Login</h3>
            </div>
            <form method="POST" action="/login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <lable for="username" class="form-lable ">Username</lable>
                    <input name="username" type="text" class="form-control add-border" required>
                    <div class="invalid-feedback">Enter valid username</div>
                </div>
                
                <div class="mb-3">
                    <lable for="password" class="form-lable ">password</lable>
                    <input name="password" type="text" class="form-control add-border" required>
                    <div class="invalid-feedback">Enter valid password</div>
                </div>
                <button class="btn btn-dark offset-5 mb-3">Login</button>
            </form>
        </div>
    </div>