<% layout("/layouts/boilerplate.ejs") %>

<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-md-6 col-sm-10 add-border mt-3">
            <div class="text-center mt-3 mb-4">
                <h3>Sign Up</h3>
            </div>
            <form method="POST" action="/signup" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control add-border" required>
                    <div class="invalid-feedback">Enter a valid username</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control add-border" required>
                    <div class="invalid-feedback">Enter a valid email</div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control add-border" required>
                    <div class="invalid-feedback">Enter a valid password</div>
                </div>
                <div class="text-center">
                    <button class="btn btn-dark col-6 col-md-4">Sign Up</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
